@media (max-width: 1200px) {
    .promo {
        .header {
            justify-content: space-around;
        }
        &__header {
            margin-right: 60px;
        }
        &__subheader {
            margin-right: 60px;
        }
        &__icons {
            margin-right: 60px;
        }
        &__link {
            margin-right: 60px;
        }
    }

    .button_main {
        margin-right: 60px;
    }

    .advantages {
        &__cards {
            justify-content: space-around;
        }
    }

    .consultation {
		&__descr {
			margin-left: 70px;
		}
    }
	.title {
		&_left {
			margin-left: 70px;
		}
	}
	.feed-form {
		margin-left: 70px;
	}
    .carousel {
        &__simple {
            width: 600px;
        }
    }
    .catalog {
        &__content {
            padding: 0 30px;
        }
        &__tab {
            width: 200px;
        }
        &-item {
            width: 280px;
        }
    }
}

@media (max-width: 991px) {
    .header {
        &__logo {
            img {
                width: 80%;
            }
        }
        &__official {
            margin-right: 40px;
            font-size: 11px;
            span {
                font-size: 17px;
            }
        }
        &__phone {
            font-size: 17px;
        }
    }

    .promo {
        &__header {
            font-size: 35px;
            margin-right: 25px;
        }
        &__subheader {
            font-size: 20px;
            margin-right: 25px;
            margin-top: 0px;
        }
        &__icons {
            margin-right: 25px;
            margin-top: 40px;
        }
        &__link {
            margin-right: 25px;
        }
        .button_main {
            margin-right: 25px;
            width: 250px;
            font-size: 15px;
        }
    }
    .advantages {
        &__card {
            img {
                width: 25%;
            }
        }
        &__descr {
            font-size: 13px;
            margin-top: 10px;
        }
    }
	.title {
		&_left {
			font-size: 30px;
		}
	}
	.consultation {
		&__descr {
			font-size: 18px;
		}
	}
	.feed-form {
		input {
			height: 45px;
		}
	}
	.button {
		&_submit {
			height: 50px;
		}
	}
    .carousel {
        &__simple {
            width: 500px;
        }
    }
    .slick-dots {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        padding-left: 0;
        margin-bottom: 0;
        li {
            list-style: none;
            padding: 0 10px;
            button {
                border-radius: 50%;
                background-color: $red;
                color: white;
                border: none;
                height: 45px;
                width: 45px;
            }
        }
        
    }
    .catalog {
        &__content {
            padding: 0 50px;
        }
        .title {
            font-size: 28px;
        }
        &__tabs {
            margin-top: 50px;
        }
        &__tab {
            width: 180px;
            font-size: 17px;
        }
        &-item {
            width: 270px;
            &__descr {
                font-size: 13px;
            }
        }
    }
}

@media (max-width: 767px) {
    .promo {
        .header {
            &__logo {
                img {
                    width: 75%;
                }
            }
            &__phone {
                font-size: 15px;
            }
        }
        &__header {
            font-size: 32px;
            margin-left: auto;
            margin-right: auto;
        }
        &__subheader {
            font-size: 18px;
            margin-left: auto;
            margin-right: auto;
        }
        &__wrapper {
            align-items: center;
        }
        &__icons {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .advantages {
        &__cards {
            flex-direction: column;
            align-items: center;
        }
        &__card {
            img {
                width: 35%;
            }
            margin-bottom: 45px;
        }
        &__title {
            font-size: 20px;
            margin-top: 25px;
        }
        &__descr {
            font-size: 15px;
        }
        .title {
            font-size: 25px;
        }
    }
	.title {
		&_left {
			font-size: 28px;
			margin: 0 auto;
			text-align: center;
		}
	}
    .carousel {
        &__simple {
            width: 350px;
        }
    }
    .catalog {
        .title {
            font-size: 27px;
        }
        &__tabs {
            margin-top: 50px;
        }
        &__tab {
            width: 103px;
            font-size: 11px;
        }
    }
}

@media (max-width: 575px) {
    .promo {
        .header {
            flex-wrap: wrap;
            &__logo {
                img {
                    display: none;
                }
            }
            &__official {
                margin: 0 auto;
                margin-top: 45px;
                font-size: 18px;
                span {
                    font-size: 28px;
                }
            }
            &__contacts {
                margin-top: 30px;
            }
            &__phone {
                font-size: 22px;
            }
        }
        &__header {
            font-size: 28px;
            margin-left: auto;
            margin-right: auto;
        }
        &__subheader {
            font-size: 15px;
            margin-left: auto;
            margin-right: auto;
        }
        // &__logo {
        //     img {
        //         width: 100%;
        //     }
        // }

        &__icons {
            width: 330px;
            margin-left: auto;
            margin-right: auto;
        }

        .button {
            width: 200px;
            height: 35px;
        }
        &__icon {
            font-size: 13px;
            img {
                width: 40%;
            }
        }
        .button_main {
            width: 230px;
            height: 40px;
            margin-left: auto;
            margin-right: auto;
        }
    }

	.title {
		&_left {
			font-size: 23px;
		}
	}
	.consultation {
		&__descr {
			font-size: 14px;
			margin: 0 auto;
			margin-top: 50px;
			text-align: center;
		}
	}
	.feed-form {
		margin: 0 auto;
		margin-top: 30px;
		justify-content: center;
		width: 280px;
		
	}
    .carousel {
        &__simple {
            width: 310px;
        }
    }
}
