.reviews {
    &__wrapper {
        margin-top: 70px;
    }
    &__item {
        width: 900px;
        display: flex;
        margin: 0 auto;
    }
    &__img {
        margin-right: 62px;
        width: 169px;
        height: 169px;
    }
    &__title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    &__subtitle {
        font-size: 14px;
        font-weight: 300;
        color: #646464;
        margin-bottom: 19px;
    }
    &__descr {
        font-size: 16px;
        font-weight: 300;
		line-height: 1.2;
    }
	hr {
		margin: 0 auto;
		margin-top: 48px;
		margin-bottom: 53px;
		border-bottom: none;
		width: 940px;
		border-color: #F6F6F6;
	}
}
